XML CV/CV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="cv">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="me">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="p" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />


						
						<xs:element name="address">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="collapse"/> //Whitespace restriction set to collapse which will remove all whitespace chars
								</xs:restriction>
							</xs:simpleType>
						</xs:element>




							<xs:attribute name="telephone" type="xs:string" use="required" />
						<xs:attribute name="email" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="education">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="qualification">
								<xs:complexType mixed="true">
									<xs:sequence>
										<xs:choice maxOccurs="unbounded">
											<xs:element maxOccurs="unbounded" name="strong" type="xs:string" />
											<xs:element name="br" />
										</xs:choice>
									</xs:sequence>
									<xs:attribute name="establishment" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
									<xs:attribute name="from" type="xs:unsignedShort" use="required" />
									<xs:attribute name="to" type="xs:unsignedShort" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="employment">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="experience">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="description" type="xs:string" />
										<xs:element maxOccurs="unbounded" name="achievement" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="establishment" type="xs:string" use="required" />
									<xs:attribute name="job_title" type="xs:string" use="required" />
									<xs:attribute name="from" type="xs:string" use="required" />
									<xs:attribute name="to" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="hobandint">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="p" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="references">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="contact">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="email" type="xs:string" use="required" />
											<xs:attribute name="telephone" type="xs:string" use="required" />
											<xs:attribute name="relationship" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>